<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
	<h1>Welcome to the Singer app</h1>
  <nav>
    <ul>
      <li><a href="/singers">Singer</a></li>
      <li><a href="/songs">Songs</a></li>
    </ul>
  </nav>
  
</body>
</html>